## 2. Aprendizagem de máquina

### Objetivos

  - Aplicar os conceitos de aprendizado de maquina

## Desafio 1

Você foi contratado pelo `QuintoAndar` para fazer análise de dados Temos uma base de dados de apartamentos em um municipio de São Paulo. **aptos.csv**

Faça uma análise preditiva com pelo menos `2 modelos de aprendizagem de maquina` para estimar o valor de: 

* Um apartamento de 65m com 2 quartos, 2 vagas, reformado no Centro.

In [9]:
import pandas as pd

df = pd.read_csv('aptos.csv')

In [10]:
df.head()

   metros  valor  quartos  vagas  reformado          bairro
0     107    560        3      2          0  Vila Lusitania
1     107    555        3      2          1  Vila Lusitania
2      49    196        2      1          0    Ferrazopolis
3     104    515        3      2          1          Centro
4      92    560        3      2          1  Vila Lusitania

In [13]:
### IMPLEMENTE SEU CÓDIGO AQUI.............

## Desafio 2

Faça a mesma análise e para um municipio de são paulo para predizer o valor do aluguel utilizando o dataset. **houses_to_rent_v2.csv**


* Um apartamento de 65m com 2 quartos, 2 vagas, reformado em são paulo, e em Porto alegre?

In [12]:
### IMPLEMENTE SEU CÓDIGO AQUI.............